@font-face {
    font-family: 'Stews';
    src: url('../fonts/stews.otf');
}

@font-face {
    font-family: 'Stew-Light';
    src: url('../fonts/stew.otf');
}

/*
    all of the media queries for all of the phones, tablets and laptops
    style from smallest to largest
    when making a style go to necessary selector and use,

    @include phoneMedium{
        add styles for 320px and up here
        anything below will not go here
    }

    everything that goes after the @include can be found in the _media_queries.scss file

    if you need to change media queries don't change them in the _media_queries.scss file,
    instead make a custom one in this file as anything changed in _media_queries.scss file will
    affect every selector that it is attributed to.

*/

@import "_media_queries";

* {
    box-sizing: border-box;
  }
  

/***********  CATERING STYLES **********/ 

.container {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .title_catering {
        font-size: 2.8em;
        font-family: 'Stew-Light';
        text-align: center;

        @include phoneLarge{
            padding: 0 10px;
        }

        @include laptopLarge{
            font-size: 3.6em;
        }
    }
    
    .phone_number_catering {
        font-family: 'Stew-Light';
        text-align: center;
        font-size: 1em;

        @include tablet{
            font-size: 1.4em;
        }

        @include laptopLarge{
            font-size: 1.6em;
        }
    }
}

/************Delivery Styles*************/
.title_delivery{
    text-align: center;
    font-size: 2.6em;
}
.phone_number_delivery{
    text-align: center;
    font-size: 1.4em;
}
.delivery_container{

    margin-top: 40px;
    width: 100%;
    // height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .delivery_stack-one{

        @include tablet{
            display: flex;
            flex-direction: row;
        }

    }

    .delivery_stack-two{

        @include tablet{
            display: flex;
            flex-direction: row;
        }

    }

    @include laptop{
        flex-direction: row;
        margin-top: 80px;
    }

    .delivery_items{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;

        @include tablet{
            margin: 30px;
        }

        @include laptop{
            margin: 10px;
        }

        img + img{
            margin-top: 15px;

            @include laptopLarge{
                margin-left: 50px;
            }
        }

        @include tablet{
            .img_mytown + .img_doordash{
                margin: 0 500px;
            }
        }

        .img_mytown{

            height: 165px;
            width: 165px;

            @include tablet{
                height: 180px;
                width: 180px;
            }

            @include laptop{
                height: 165px;
                width: 165px;
            }

            @include laptopLarge{
                height: 200px;
                width: 200px;
            }
        }

        .img_doordash{
            height: 110px;
            width: 250px;

            @include laptopLarge{
                height: 160px;
                width: 300px;
            }
        }

        .img_grubhub{
            height: 68px;
            width: 280px;

            @include laptopLarge{
                height: 108;
                width: 320;
            }
        }

        .img_seamless{
            width: 250px;
            height: 123px;

            @include laptopLarge{
               width: 300px;
                height: 173px; 
            }
        }

    }
}

/*********** NAV STYLES ***********/


.nav-container {
    display: flex;
    background-color: black;

    img {
        padding: 0 30px;
    }

    // .block {
    //     margin: auto;  **BREAKS AT 1260px - Add margin: auto to media query
    // }

  
.nav-item {
    flex: 1 1 20em;
    background-color: black;
    border-top: 1px solid #aba69b;
    border-left: 1px solid #aba69b;
    border-right: 1px solid #aba69b;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    padding: 42px;
    border-bottom: 1px solid #aba69b;

    @include phoneMedium{

        display: none;
    
    }

    @include laptop{

        display: block;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;

        &:hover {
            color: #e67837;
        } 
    }
}
}
.nav-container a.icon {
    display: block;
    text-align: right;
    padding-right: 10px;

    @include phoneMedium{
        width: 200px;
        margin-top: 10px;
    }

    @include phoneLarge{
        width: 300px;
    }

    @include tablet{
        width: 640px;
    }

    @include laptop{
        display:none;
    }
  }

  .nav-container.responsive {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100vh;

        .stewsLogo{
            display: none;
        }
    }
    .nav-container.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-container.responsive .nav-item {
      float: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      flex: none;
    }

    .stewsLogo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        

        @include laptop{
            border-bottom: 1px solid #aba69b;
        }
        img{
            width: 120px;
            height: 70.797px;
            padding-right: 8px;

            @include laptop{
                width: 200px;
                height: 140px;
            }
        }
      }


  
  .fa {
    font-size: 3.5em;
    color: white;
  }

/************* SLIDER STYLERS *************/ 

.slider {

    .mySlides {
        height:90vh;
    }

    @include tablet{
        width: 100%;
    }

}

/*********** INDEX STYLES ***********/
body {
    background-color: #f2e6d9;
    margin: 0 auto;
}

.service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
  
.service-wrapper > .service-blocks {
    // width: 500px;
    margin: 35px;
    text-align: center;
    position: relative;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
    
    .centered {
        position: absolute;
        font-family: Stews;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        text-shadow: 2px 2px 12px #030303;
        font-size: 1.8em;
        letter-spacing: 5px;

        @include tablet{

            font-size:1.3em;
        
        }

        @include laptop{

            font-size:1.6em;
        
        }

        @include laptopLarge{

            font-size:2.1em;
        
        }
    }

    
}

/* Service Wrapper Media Query */

    .service-wrapper {

        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
        }

        .service-blocks{
            a{
                img{
                    width: 250px;
                    height: 165.5px;

                    @include phoneMedium{
                        width: 300px;
                        height: 200px;
                    }

                    @include tablet{
                        width: 180px;
                        height: 165px;
                    }

                    @include laptop{
                        width: 235px;
                        height: 215px;
                    }

                    @include laptopLarge{
                        width: 350px;
                        height: 300px;
                    }
                }
            }
        }
    }


.location-wrapper, .announcement-wrapper, .about-wrapper {
    text-align: center;
    width: 100%;
    
    p {
        font-family: Stews;
        font-size: 3.4em;
        letter-spacing: 3px;
        color: #AC2A29;
        margin-bottom: 30px;

        @include phoneMedium{
            font-size: 2.8em;
        }
    }

    p + p {
        font-size: 20px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: auto;
        width: 59%;

        @include phoneMedium{
            font-size: 1em;
            width: 90%;
        }

        @include laptop{
            font-size: 1.1em;
        }

        @include laptopLarge{
            font-size: 1.3em;
        }
    }
}

@include phoneMedium{

    .location-wrapper{

        p{
            font-size: 1.5em;
            padding-right: 10px;
            padding-left: 10px;
        }

        img{
            width:300px;
            height: 250px;
            justify-content: center;
            align-items: center;

            @include laptopLarge{
                width: 425px;
                height: 375px;
            }
        }
    }

}

iframe {
    margin-top: 80px;
}

.facebook_iframe{
    width: 320px;

    @include phoneLarge{
        width: 400px
    }

    @include smallTablet{
        width: 500px
    }
}

.cta-banner {
    margin-top: 75px;
    position: relative;

    img {
        height: 200px;
        opacity: 0.65;
    }

    .centered {
        position: absolute;
        font-family: Stews;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        text-shadow: 2px 2px 12px #030303;
        font-size: 2.3em;
        letter-spacing: 7px;
        text-align: center;
    }
}

// delete when content filled in (below)
.temp {
    height: 300px;
    border: 1px solid black;
}

.btn {
    background-color: #F58220;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 33px 0;
    cursor: pointer;

    &:hover {
        border: 3px solid #AC2A29;
    }

    a {
        color: white;
        font-family: Stew-Light;
        font-size: 19px;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
            color: #AC2A29;
        }
    }
}

/*********** FOOTER STYLES ***********/
footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 195px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 105px;
    
    @include tablet{

        display: inherit;
        flex-wrap: inherit;

    }

    .footerGroup{

        @include tablet{

            display: flex;
            flex-direction: row;

        }

    }

    .location_phone{
        display: flex;
        flex-direction: column;
    }

    *[x-apple-data-detectors] {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
    }

    .footer-item {
        flex: 1 1 20em;
        border-top: 1px solid #aba69b;
        margin-top: -1px;
        margin-left: -1px;
        text-align: center;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;

        .phone_number{
            text-decoration: none;
            color: white;
        }

        .block{
            line-height: 120%;
            margin: auto;
            display: inline-flex;

            @include phoneMedium{
                font-size: .6em;
            }

            @include tablet{
                font-size: 1em;
            }
        }

        .hours{
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    .elements{
        flex-direction: column;
        
        .login{
            color: white;
            text-decoration: none;
        }
    }

    .footer-copyright{
        padding: 0;

        .copyright {
            font-size: 8px;

            @include phoneMedium{
                font-size: .6em;
            }

            @include tablet{
                font-size: .8em;
            }
        }
    }
    

    .fa.fa-facebook-f {
        color: white;
        font-size: 2em;
        margin-top: -2px;
        margin: 0 25px;

        &:hover {
            color: #3c5a99;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .footerGroup {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    footer .footer-item {
        padding: 0; 
        line-height: 1;
        border-left: solid white 1px;
    }

    footer .block {
        padding-top: 30px;
    }
}
