@font-face {
    font-family: 'Stews';
    src: url('../fonts/stews.otf');
}

@font-face {
    font-family: 'Stew-Light';
    src: url('../fonts/stew.otf');
}

/***********  CATERING STYLES **********/ 

.container {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .title_catering {
        font-size: 2.8em;
        font-family: 'Stew-Light';
    }
    
    .phone_number_catering {
        font-family: 'Stew-Light';
    }
}

/************Delivery Styles*************/
.title_delivery{
    text-align: center;
}
.phone_number_delivery{
    text-align: center;
}
.delivery_container{

    width: 100%;
    // height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    .delivery_items{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;

        .delivery_name-link{
            text-align: center;
        }
    }
}

@media only screen and (max-width: 320px) {
    .delivery_items{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;

        .delivery_name-link{
            text-align: center;
        }
    }
  }

/*********** NAV STYLES ***********/
.nav-container {
    display: flex;
    background-color: black;

    img {
        padding: 0 30px;
    }

    // .block {
    //     margin: auto;  **BREAKS AT 1260px - Add margin: auto to media query
    // }
}
  
.nav-item {
    flex: 1 1 20em;
    background-color: black;
    border-top: 1px solid #aba69b;
    border-left: 1px solid #aba69b;
    border-right: 1px solid #aba69b;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    padding: 42px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;

        &:hover {
            color: #e67837;
        } 
    }
}

/************* SLIDER STYLERS *************/ 

.slider {

    .mySlides {
        height:90vh;
    }

}

/*********** INDEX STYLES ***********/
body {
    background-color: #f2e6d9;
    margin: 0 auto;
}

.service-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
  
.service-wrapper > .service-blocks {
    width: 500px;
    margin: 35px;
    text-align: center;
    position: relative;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
    
    .centered {
        position: absolute;
        font-family: Stews;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        text-shadow: 2px 2px 12px #030303;
        font-size: 2.8em;
        letter-spacing: 5px;
    }
}

.location-wrapper, .announcement-wrapper, .about-wrapper {
    text-align: center;
    width: 100%;
    
    p {
        font-family: Stews;
        font-size: 3.4em;
        letter-spacing: 3px;
        color: #AC2A29;
        margin-bottom: 30px;
    }

    p + p {
        font-size: 20px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: auto;
        width: 59%;
    }
}

iframe {
    margin-top: 80px;
}

.cta-banner {
    margin-top: 75px;
    position: relative;

    img {
        height: 200px;
        opacity: 0.65;
    }

    .centered {
        position: absolute;
        font-family: Stews;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        text-shadow: 2px 2px 12px #030303;
        font-size: 4em;
        letter-spacing: 7px;
        text-align: center;
    }
}

// delete when content filled in (below)
.temp {
    height: 300px;
    border: 1px solid black;
}

.btn {
    background-color: #F58220;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 33px 0;
    cursor: pointer;

    &:hover {
        border: 3px solid #AC2A29;
    }

    a {
        color: white;
        font-family: Stew-Light;
        font-size: 19px;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
            color: #AC2A29;
        }
    }
}

/*********** FOOTER STYLES ***********/
footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 195px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 105px;
    
    .footer-item {
        flex: 1 1 20em;
        border-top: 1px solid #aba69b;
        margin-top: -1px;
        margin-left: -1px;
        text-align: center;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }

    .block {
        margin: auto;
        display: inline-flex;
    }

    .elements{
        flex-direction: column;
        
        .login{
            color: white;
            text-decoration: none;
        }
    }

    .footer-copyright{
        padding: 0;

        .copyright {
            font-size: 14px;
        }
    }
    

    .fa.fa-facebook-f {
        color: white;
        font-size: 2em;
        margin-top: -2px;

        &:hover {
            color: #3c5a99;
        }
    }
}
